#footer{
  width:100%;
  text-align:center;
  p{
    margin:10px 0 30px;
    font-size:12px;
    color:#4c4c4c;
    line-height:25px;
    @media screen and (max-width:980px){
      font-size:.12rem;
      line-height:.25rem;
    }
    img {
      vertical-align: middle;
    }
  }
  iframe{
    width:91px;
    height:20px;
    margin-top:20px;
    margin-bottom:-5px;
    border:none;
    margin-left:10px;
  }
}