#main{
  width:$mainWidth;
  margin:0 auto;
  background:#fff;
  @include border-radius(5px);
  border-width:1px;
  border-color:#f1f1f1 #e7e6e6 #e7e6e6 #cfcfcf;
  border-style:solid;
  position:relative;
  z-index:2;
  $mainLeft:70%;
  @media screen and (max-width:980px){
    width:$mainWidthM;
    @include border-radius(0);
    border-width:0;
  }
  #main-left{
    width:$mainLeft;
    padding:20px;
    @import 'post';
    &.left{
      float:left;
    }
    &.right{
      float:right;
      text-align:center;
      h3{
        a{
          &:after{
            display:none;
          }
        }
      }
    }
    @media screen and (max-width:980px){
      width:$mainWidthM;
    }
  }
  #main-right{
    width:100%-$mainLeft;
    @import 'my';
    &.left{
      float:left;
      padding:40px 0 0 20px;
    }
    &.right{
      float:right;
      padding:40px 20px 0 0;
    }
    @media screen and (max-width:980px){
      position:fixed;
      background:#fff;
      background:-webkit-linear-gradient(left,$secondaryColor,#fff 5px);
      float:left;
      top:0;
      left:-2.75rem;
      z-index:10001;
      width:2.75rem;
      height:100%;
      padding:.3rem .2rem 0 20px;
      @include transition(all,.5s);
      color:#fff;
      border-right:0px solid $mainColor;
    }
  }
}