*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'microsoft YaHei';
}
body{
  background-color:#f6f8f8;
}
li{
  list-style:none;
}
a{
  text-decoration:none;
  color:#333;
}
img{
  vertical-align:bottom;
}
h1,h2,h3,h4,h5,h6{
  font-weight:normal;
  color:#000;
}